<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor pagina-checkout pagina-detalles-pedido">
        <h2>Detalles de compra</h2>
        <div class="detalles-contenedor-checkout contenedor-flex">
            <form class="form-checkout" action="">
                <fieldset>
                    <legend>Confirma la direccion de envio</legend>
                    <div class="row">
                        <div class="input">
                            <label for="destinatario">Destinatario:</label>
                            <input type="text" name="destinatario" id="destinatario" value="Jacob de Canterbury">
                        </div>

                    </div>


                    <div class="row">
                        <div class="input">
                            <label for="calle">Calle:</label>
                            <input type="text" name="calle" id="calle" value="BAKER STREET">
                        </div>

                        <div class="input">
                            <label for="numero">Numero:</label>
                            <input class="w-35" type="text" name="numero" id="numero" value="221-B">
                        </div>


                    </div>
                    <div class="row">
                        <div class="input">
                            <label for="ciudad">Ciudad:</label>
                            <input type="text" name="ciudad" id="ciudad" value="LONDON">
                        </div>

                        <div class="input">
                            <label for="pais">Pais:</label>
                            <input type="text" name="pais" id="pais" value="Inglaterra">
                        </div>

                    </div>

                    <div class="row">
                        <div class="input">
                            <label for="cp">C.P:</label>
                            <input class="w-35" type="text" name="cp" id="cp" value="1200">
                        </div>
                    </div>

                </fieldset>
                <div class="contenedor-btn btn-checkout"><a class="btn" href="#resumen-compra">Confirmar</a></div>
            </form>


        </div>
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto detalles-producto-checkout">
                <div class="encabezado contenedor-flex detalles-encabezado encabezado-checkout">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>

                    </div>

                </div>

            </div>
        </div>
        <!--./producto-->
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto detalles-producto-checkout">
                <div class="encabezado contenedor-flex detalles-encabezado encabezado-checkout">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>

                    </div>

                </div>

            </div>
        </div>
        <!--./producto-->
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto detalles-producto-checkout">
                <div class="encabezado contenedor-flex detalles-encabezado encabezado-checkout">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>

                    </div>

                </div>

            </div>
        </div>
        <!--./producto-->
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto detalles-producto-checkout">
                <div class="encabezado contenedor-flex detalles-encabezado encabezado-checkout">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>

                    </div>

                </div>

            </div>
        </div>
        <!--./producto-->
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto detalles-producto-checkout">
                <div class="encabezado contenedor-flex detalles-encabezado encabezado-checkout">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>

                    </div>

                </div>

            </div>
        </div>
        <!--./producto-->



    </main>

    <div class="resumen-contenedor" id="resumen-compra">
        <div class="contenedor resumen">
            <div class="total">
                <table>
                    <tr>
                        <td>Sub-total:</td>
                        <td class="text-left">$ 300.00</td>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td class="text-left">$ 0.00</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td class="text-left">$ 300.00</td>
                    </tr>
                </table>
            </div>
            <div class="pagar-btn-container">
                <button class="btn">Pagar</button>
            </div>
        </div>
    </div>



    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>