<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor pagina-detalles-pedido">
        <h2>Detalles del pedido</h2>
        <div class="detalles-contenedor contenedor-flex">
            <div class="detalles">
                <p><span class="text-strong">Fecha de compra:</span> 11 de octubre de 2020</p>
                <p><span class="text-strong">Numero de pedido:</span> 123456789</p>
                <p><span class="text-strong">ID de compra:</span> 123456789</p>
                <h3><span class="text-strong">Direccion de envio</span></h3>
                <p><span class="text-strong">Destinatario:</span> Jacob de Canterbury</p>
                <p><span class="text-strong">Direccion:</span> Baker street 221-B, Marylebone, London.</p>
                <p><span class="text-strong">cp:</span> 1200</p>
                <p><span class="text-strong">Llega:</span> 21 de Dicimebre del 2020</p>
            </div>
            <div class="total">
                <h3>Resumen de la compra</h3>
                <table class="table-detalles">
                    <tr>
                        <td>Sub-total:</td>
                        <td class="text-left">$ 300.00</td>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td class="text-left">$ 0.00</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td class="text-left">$ 300.00</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto">
                <div class="encabezado contenedor-flex detalles-encabezado">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>
                        <p class="text-strong ">Estado actual del pedido:</p>
                        <p>Enviado</p>
                    </div>

                </div>
                <div class="estados contenedor-flex">

                    <div class="estado completo">
                        <p>Procesando envio</p>
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="estado completo">
                        <p>Enviado</p>
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="estado">
                        <p>Entregado</p>
                        <i class="fas fa-check-square"></i>
                    </div>

                </div>
            </div>
        </div>
        <!--./producto-->

        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto">
                <div class="encabezado contenedor-flex detalles-encabezado">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>
                        <p class="text-strong ">Estado actual del pedido:</p>
                        <p>Procesando envio</p>
                    </div>

                </div>
                <div class="estados contenedor-flex">

                    <div class="estado completo">
                        <p>Procesando envio</p>
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="estado ">
                        <p>Enviado</p>
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="estado">
                        <p>Entregado</p>
                        <i class="fas fa-check-square"></i>
                    </div>

                </div>
            </div>
        </div>
        <!--./producto-->

        <div class="producto contenedor-flex">
            <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
            <div class="detalles-producto">
                <div class="encabezado contenedor-flex detalles-encabezado">
                    <div class="contenedor-txt">
                        <h3>Joystick</h3>
                    </div>
                    <div class="contenedor-txt">
                        <p class="text-strong ">x1</p>
                        <p class="text-strong ">Estado actual del pedido:</p>
                        <p>Procesando envio</p>
                    </div>

                </div>
                <div class="estados contenedor-flex">

                    <div class="estado completo">
                        <p>Procesando envio</p>
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="estado ">
                        <p>Enviado</p>
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="estado">
                        <p>Entregado</p>
                        <i class="fas fa-check-square"></i>
                    </div>

                </div>
            </div>
        </div>
        <!--./producto-->


    </main>



    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>