<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="hero">
        <a href="#" class="contenedor contenedor-flex">
            <p>Ofertas del día</p>
            <div class="img"><img src="img/bolsas-hero.png" alt=""></div>

        </a>
    </div>
    <!--./hero-->
    <main>
        <section class="contenedor">
            <h2>Novedades</h2>
            <div class="productos contenedor-flex">
                <a href="producto.html" class="producto">
                    <img src="img/playera.jpg" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/vestido_verano.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/mochila.jpg" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/soporte_pendientes.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
            </div>
            <!--./productos-->
            <div class="contenedor-btn"><a class="btn" href="#">Ver más</a></div>
        </section>
        <section class="contenedor">
            <h2>Más vendidos</h2>
            <div class="productos contenedor-flex">
                <a href="producto.html" class="producto">
                    <img src="img/reloj.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/soporte_pendientes.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/joystick.jpg" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/collar_plata.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
            </div>
            <!--./productos-->
            <div class="contenedor-btn"><a class="btn" href="#">Ver más</a></div>
        </section>
        <section class="contenedor">
            <h2>Ofertas</h2>
            <div class="productos contenedor-flex">
                <a href="producto.html" class="producto">
                    <img src="img/vestido_negro.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/soporte_pendientes.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/reloj.png" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
                <a href="producto.html" class="producto">
                    <img src="img/mochila.jpg" alt="playera">
                    <p>Playera</p>
                    <p class="precio">$100.00</p>
                </a>
                <!--./producto-->
            </div>
            <!--./productos-->
            <div class="contenedor-btn"><a class="btn" href="#">Ver más</a></div>
        </section>
    </main>
    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>