<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor pagina-lista-pedidos">
        <h2>Pedidos</h2>
        <div class="lista">
            <table>
                <thead>
                    <tr>
                        <th>No. de Pedido</th>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>04/01/2020</td>
                        <td>+Playera Roja X1<br>+Joystick X2<br>+Playera Roja X1<br>+Joystick X2</td>
                        <td>$ 300.00</td>
                        <td><a class="btn" href="detalles.html">Ver Detalles</a></td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>04/01/2020</td>
                        <td>+Playera Roja X1<br>+Joystick X2<br>+Playera Roja X1<br>+Joystick X2</td>
                        <td>$ 300.00</td>
                        <td><a class="btn" href="detalles.html">Ver Detalles</a></td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>04/01/2020</td>
                        <td>+Playera Roja X1<br>+Joystick X2<br>+Playera Roja X1<br>+Joystick X2</td>
                        <td>$ 300.00</td>
                        <td><a class="btn" href="detalles.html">Ver Detalles</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>



    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>