<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor pagina-producto">
        <section class="contenedor-flex">
            <div>
                <img src="img/reloj.png" alt="reloj">
                <div class="contenedor-btn">
                    <a href="#" class="btn">Comprar</a>
                    <div class="contenedor-flex">
                        <button class="btn">Añadir al carrito</button>
                        <button class="btn">Añadir al wish list</button>
                    </div>
                </div>
            </div>
            <aside class="info-producto">
                <p class="stock">En stock: <span>30</span></p>
                <h2>Reloj</h2>
                <p class="precio">$ 100</p>
                <p class="envio">Envio: <br><span>Gratis</span></p>

                <p class="cantidad">Cantidad:</p>
                <div class="contenedor-input">

                    <div class="input-number contenedor-flex">
                        <button class="btn"><i class="fas fa-minus"></i></button>
                        <input type="number" name="" id="">
                        <button class="btn"><i class="fas fa-plus"></i></button>
                    </div>

                </div>

            </aside>
        </section>
        <section class="descripcion">
            <h2>Descripción del producto:</h2>
            <p>Nunc metus lectus, tristique sed nibh a, aliquam lobortis neque. Nullam in mi tortor. Quisque et tortor ac nunc euismod lobortis. Suspendisse convallis risus interdum metus condimentum, non dictum neque pulvinar. Ut in aliquet ex. Praesent
                varius lobortis lacus, pellentesque eleifend justo tristique eu. Nullam quis metus vel massa dapibus varius in sit amet ante. Sed vel leo varius, tristique odio in, ultricies purus</p>
        </section>

    </main>

    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>