<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Puestito</title>
    <script src="https://kit.fontawesome.com/471047becf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="contenedor contenedor-flex header">
            <div class="logo">
                <h1><a href="index.html">El Puestito</a></h1>

            </div>
            <div class="buscador contenedor-flex">
                <div class="input-search">
                    <input type="search" name="" id="">
                </div>
                <div class="icon-search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="contenedor-flex">
                    <li><a href="#"><i class="fas fa-tag"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor pagina-wishlist">
        <h2>Wish list</h2>
        <div class="lista-productos">
            <div class="producto contenedor-flex">
                <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
                <div class="detalles-producto">
                    <div class="encabezado contenedor-flex">
                        <div class="contenedor-txt">
                            <h3>Joystick</h3>
                        </div>
                        <div class="contenedor-txt">
                            <p class="precio">$100.00</p>
                        </div>

                    </div>
                    <div class="acciones contenedor-flex">
                        <div class="contenedor-flex">
                            <a href="#">Eliminar</a>
                            <a href="#">Mover al carrito</a>
                        </div>
                        <div class="acciones-button">
                            <button class="btn">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--./producto-->


            <div class="producto contenedor-flex">
                <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
                <div class="detalles-producto">
                    <div class="encabezado contenedor-flex">
                        <div class="contenedor-txt">
                            <h3>Joystick</h3>
                        </div>
                        <div class="contenedor-txt">
                            <p class="precio">$100.00</p>
                        </div>

                    </div>
                    <div class="acciones contenedor-flex">
                        <div class="contenedor-flex">
                            <a href="#">Eliminar</a>
                            <a href="#">Mover al carrito</a>
                        </div>
                        <div class="acciones-button">
                            <button class="btn">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--./producto-->


            <div class="producto contenedor-flex">
                <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
                <div class="detalles-producto">
                    <div class="encabezado contenedor-flex">
                        <div class="contenedor-txt">
                            <h3>Joystick</h3>
                        </div>
                        <div class="contenedor-txt">
                            <p class="precio">$100.00</p>
                        </div>

                    </div>
                    <div class="acciones contenedor-flex">
                        <div class="contenedor-flex">
                            <a href="#">Eliminar</a>
                            <a href="#">Mover al carrito</a>
                        </div>
                        <div class="acciones-button">
                            <button class="btn">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--./producto-->


            <div class="producto contenedor-flex">
                <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
                <div class="detalles-producto">
                    <div class="encabezado contenedor-flex">
                        <div class="contenedor-txt">
                            <h3>Joystick</h3>
                        </div>
                        <div class="contenedor-txt">
                            <p class="precio">$100.00</p>
                        </div>

                    </div>
                    <div class="acciones contenedor-flex">
                        <div class="contenedor-flex">
                            <a href="#">Eliminar</a>
                            <a href="#">Mover al carrito</a>
                        </div>
                        <div class="acciones-button">
                            <button class="btn">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--./producto-->


            <div class="producto contenedor-flex">
                <div class="img"><img src="img/joystick.jpg" alt="joystick"></div>
                <div class="detalles-producto">
                    <div class="encabezado contenedor-flex">
                        <div class="contenedor-txt">
                            <h3>Joystick</h3>
                        </div>
                        <div class="contenedor-txt">
                            <p class="precio">$100.00</p>
                        </div>

                    </div>
                    <div class="acciones contenedor-flex">
                        <div class="contenedor-flex">
                            <a href="#">Eliminar</a>
                            <a href="#">Mover al carrito</a>
                        </div>
                        <div class="acciones-button">
                            <button class="btn">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--./producto-->


        </div>
        <!--./lista-productos-->

    </main>

    <footer>
        <div class="site-footer">
            <p class="logo">El puestito</p>
            <p>Todos los derechos reservados &copy;</p>
            <a href="#">Aviso de privacidad </a>
        </div>
    </footer>
</body>

</html>